$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$harmonia: 'Harmonia Sans Pro Cyr', sans-serif;
$harmoniaSemiBold: 'HarmoniaSansProCyrSemiBd', sans-serif;
$inter: "Inter", sans-serif;

$white: #fff;
$black: #030303;

$gray5: #FBFAFD;
$gray10: #F4F2F9;
$gray15: #EDECF0;
$gray20: #DADADA;

$purple: #9B6FEA;
$purple5: #A681E8;
$purple90: #E0D8EE;

$padding80: 80px 0;
$padding32: 32px;
$padding20: 20px;

$border40: 40px;
$border32: 32px;
$border24: 24px;
$border20: 20px;
$border16: 16px;
$border12: 12px;