.cases {
  &__title {
    max-width: 690px;
  }

  &__item {
    background-color: $gray10;
    padding: $padding32;
    display: flex;
    gap: 24px;
    min-height: 508px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__exodus {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 28px;
    margin-right: -6px;

    &-item {
      padding: 8px 16px;
      line-height: 1.45;
      font-weight: 500;
      background-color: $white;
      color: $purple;
      border-radius: $border16;
      letter-spacing: 0;
    }
  }

  &__logo {
    @include objectCoverBg;
    margin: auto 0 40px;
  }

  &__name {
    font-size: 28px;
    font-family: $harmoniaSemiBold;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1.06;

    &--short {
      max-width: 390px;
    }
  }

  &__text {
    color: rgba($black, .64);
    letter-spacing: 0;
    @include flex-column(8);
  }

  &__img {
    border-radius: $border20;

    &--absolute {
      position: absolute;
      right: 21.5px;
      top: 102px;
    }
  }

  .swiper-slide {
    border-radius: $border32;
    overflow: hidden;
    width: 544px;
    cursor: grab;

    &--long {
      width: 755px;
    }
  }
}