.clients {
  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 365px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    color: rgba($black, .64);
    letter-spacing: 0;
  }

  &__text,
  .companies__logos {
    margin-bottom: 70px;
  }
}