.manager-vacancies {
  &__inner {
    border-radius: 40px;
    background-color: $purple;
    padding: 48px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 540px;
    color: $white;
  }

  &__title {
    margin-bottom: 18px;
    text-align: left;
  }

  &__text {
    font-size: 24px;
    line-height: 1.45;
    margin-bottom: 39px;
    font-weight: 600;
  }

  &__subtext {
    max-width: 404px;
    color: rgba($white, .63);
    margin-bottom: 24px;
    font-weight: 500;
    display: block;
  }

  &__img {
    @include objectCoverBg;
    border-radius: 50%;
  }
}