.personal {
  &__title {
    max-width: 690px;
    line-height: 1;
    @media (max-width: 640px) {
      display: none;
    }

    &--mobile {
      display: none;
      @media (max-width: 640px) {
        display: block;
        line-height: 1.1;
      }
    }
  }

  &__swiper {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    @media (max-width: 1100px) {
      margin-bottom: 34px;
    }
    @include r($lg) {
      margin-bottom: 28px;
    }
  }

  &__item {
    border-radius: $border32;
    background-color: $gray10;
    padding: 32px 15px 0;
    overflow: hidden;
    border: 2px solid $gray10;
    @media (max-width: 1040px) {
      padding: 26px 8px 0;
    }
    @include r($lg) {
      border-radius: $border24;
    }
  }

  &__name {
    font-weight: 600;
    font-family: $harmoniaSemiBold;
    font-size: 28px;
    line-height: 1.05;
    margin-bottom: 55px;
    padding: 0 5px;
    @include r($desktop) {
      font-size: 26px;
      margin-bottom: 45px;
    }
    @media (max-width: 1040px) {
      padding: 0 12px;
    }
    @include r($lg) {
      font-size: 24px;
    }
    @include r($tablet) {
      padding: 0 7px;
      font-size: 22px;
    }
    @include r($phone) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }

  &__img {
    @include objectCoverBg;
    border-radius: 50%;
    margin: 0 auto -47px;
    @media (max-width: 1370px) {
      width: 340px;
      height: 340px;
    }
    @media (max-width: 1300px) {
      width: 320px;
      height: 320px;
    }
    @media (max-width: 1240px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 1100px) {
      width: 280px;
      height: 280px;
    }
    @include r($lg) {
      margin-bottom: -60px;
    }
    @include r($phone) {
      width: 270px;
      height: 270px;
    }
    @media (max-width: 360px) {
      width: 260px;
      height: 260px;
    }
  }

  &--prev,
  &--next {
    @include top50;
    position: absolute;
    z-index: 100;
    @media (max-width: 1010px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  &--prev {
    left: -24px;
    transform: translateY(-50%) scale(-1);
    @include r($lg) {
      left: -14px;
    }
  }

  &--next {
    right: -26px;
    @include r($desktop) {
      right: -23px;
    }
    @include r($lg) {
      right: -15px;
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    @include r($lg) {
      max-width: 300px;
      width: 100%;
    }
    @include r($phone) {
      max-width: 290px;
    }
    @media (max-width: 360px) {
      max-width: 280px;
    }
  }
}