.personal {
  &__title {
    max-width: 690px;
    line-height: 1;
  }

  &__swiper {
    position: relative;
    margin-bottom: 40px;
  }

  &__item {
    border-radius: 32px;
    background-color: $gray10;
    padding: 32px 32px 0;
    overflow: hidden;
    border: 2px solid $gray10;
  }

  &__name {
    font-weight: 600;
    font-family: $harmoniaSemiBold;
    font-size: 28px;
    line-height: 1.05;
    margin-bottom: 55px;
  }

  &__img {
    @include objectCoverBg;
    border-radius: 50%;
    margin-bottom: -47px;
  }

  &__info {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  &__file {
    color: rgba($black, .64);
    letter-spacing: 0;
  }

  .btn {
    margin: 0 auto 16px;
  }

  &--prev,
  &--next {
    @include top50;
    position: absolute;
    z-index: 100;

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  &--prev {
    left: -26px;
  }

  &--next {
    right: -26px;
  }

  .swiper {
    overflow: visible;
  }
}