.personal {
  &__title {
    max-width: 690px;
    line-height: 1;
  }

  &__swiper {
    position: relative;
    margin-bottom: 40px;
  }

  &__item {
    border-radius: $border32;
    background-color: $gray10;
    padding: 32px 32px 0;
    overflow: hidden;
    border: 2px solid $gray10;
  }

  &__name {
    font-weight: 600;
    font-family: $harmoniaSemiBold;
    font-size: 28px;
    line-height: 1.05;
    margin-bottom: 55px;
  }

  &__img {
    @include objectCoverBg;
    border-radius: 50%;
    margin-bottom: -47px;
  }

  &--prev,
  &--next {
    @include top50;
    position: absolute;
    z-index: 100;

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  &--prev {
    left: -26px;
    transform: translateY(-50%) scale(-1);
  }

  &--next {
    right: -26px;
  }

  .swiper {
    overflow: visible;
  }
}