.reviews {
  .swiper-slide {
    max-width: 900px;
    border-radius: $border24;
    overflow: hidden;
    @include r($desktop) {
      max-width: 800px;
    }
    @include r($lg) {
      max-width: 730px;
      border-radius: $border16;
    }
    @media (max-width: 860px) {
      max-width: 680px;
    }
    @include r($tablet) {
      max-width: 610px;
    }
    @media (max-width: 700px) {
      max-width: 530px;
    }
    @media (max-width: 615px) {
      max-width: 470px;
    }
    @media (max-width: 580px) {
      max-width: 430px;
    }
    @media (max-width: 530px) {
      max-width: 390px;
    }
    @media (max-width: 490px) {
      max-width: 365px;
      border-radius: $border8;
    }
    @include r($phone) {
      max-width: 330px;
    }
    @media (max-width: 420px) {
      max-width: 310px;
    }
    @media (max-width: 400px) {
      max-width: 290px;
    }

    .reviews__play {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }

    &-active {
      .reviews__play {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }

  &__play {
    display: flex;
    z-index: 200;
    position: absolute;
    @include topLeft50;
    transition: opacity .4s;
    @include r($tablet) {
      svg {
        width: auto;
        height: 42px;
      }
    }
    @include r($sm) {
      svg {
        height: 36px;
      }
    }

    &:hover {
      .reviews__path {
        fill: $gray10;
      }

      svg path {
        fill: red;
      }
    }

    &:focus {
      opacity: .5;
    }
  }

  &__img {
    @include objectCoverBg;
    @include r($lg) {
      height: 460px;
    }
    @media (max-width: 860px) {
      height: 430px;
    }
    @include r($tablet) {
      height: 390px;
    }
    @media (max-width: 700px) {
      height: 350px;
    }
    @media (max-width: 615px) {
      height: 325px;
    }
    @media (max-width: 580px) {
      height: 300px;
    }
    @media (max-width: 530px) {
      height: 275px;
    }
    @media (max-width: 490px) {
      height: 240px;
    }
    @include r($phone) {
      height: 220px;
    }
    @media (max-width: 420px) {
      height: 200px;
    }
  }

  &--next, &--prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--prev {
    transform: translateY(-50%) scale(-1);
    margin-left: -25px;
    @include r($lg) {
      margin-left: -41px;
    }
    @media (max-width: 680px) {
      margin-left: -46px;
    }
    @media (max-width: 600px) {
      margin-left: -51px;
    }
    @media (max-width: 490px) {
      margin-left: -54px;
    }
  }

  &--next {
    right: 38px;
    @include r($lg) {
      right: 20px;
    }
    @media (max-width: 680px) {
      right: 14px;
    }
    @media (max-width: 600px) {
      right: 8px;
    }
    @media (max-width: 490px) {
      right: 7px;
    }
  }

  &__control {
    @include topLeft50;
    position: absolute;
    z-index: 10;
    margin: 0 auto;

    &.container {
      padding: 0 60px;
    }
  }
}