.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;

  &__item {
    padding: 32px;
    border-radius: $border32;
    background-color: $gray5;
    border: 2px solid $gray10;
    display: flex;
    flex-direction: column;
    gap: 24px;

    img {
      @include objectCoverBg;
    }
  }

  &__name {
    font-size: 28px;
    line-height: 1.06;
    font-weight: 600;
    margin-top: auto;
    font-family: $harmoniaSemiBold;
  }
}