.footer {
  margin-bottom: 24px;
  @include r($desktop) {
    margin-bottom: 20px;
  }
  @media (max-width: 1100px) {
    font-size: 16px;
  }
  @include r($phone) {
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__inner {
    @include flex-between(48);
    align-items: center;
    @media (max-width: 1470px) {
      flex-wrap: wrap;
      gap: 34px;
    }
    @include r($tablet) {
      gap: 30px 24px;
    }
    @include r($phone) {
      gap: 30px 18px;
    }
  }

  .logo {
    @media (max-width: 1470px) {
      order: 0;
    }

    &__img {
      @media (max-width: 370px) {
        width: auto;
        height: 30px;
      }
    }
  }

  &__nav {
    @media (max-width: 1470px) {
      width: 100%;
      order: 1;
    }
    @include r($tablet) {
      display: none;
    }
  }

  &__list {
    @include flex-align-center(24);
    @media (max-width: 1470px) {
      justify-content: center;
      gap: 40px;
    }
    @media (max-width: 1100px) {
      gap: 33px;
    }
    @include r($tablet) {
      gap: 22px 33px;
      flex-wrap: wrap;
    }
    @include r($phone) {
      gap: 22px 29px;
    }
  }

  &__link {
    transition: color .4s, border .4s;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    letter-spacing: 0;

    &:hover {
      color: $purple;
    }

    &:focus {
      color: $purple;
      border-bottom-color: $purple;
    }
  }

  &__link,
  &__social {
    line-height: 1.45;
  }

  &__socials {
    @include flex-align-center(24);
    @include r($tablet) {
      margin-left: auto;
    }
  }

  &__social {
    @include flex-align-center(8);
    color: $purple;
    transition: color .4s, opacity .4s;
    @include r($phone) {
      gap: 7px;
    }

    &:hover {
      color: $black;

      svg path {
        fill: $black;
      }
    }

    &:focus {
      opacity: .5;
    }

    &--mail {
      @include r($tablet) {
        display: none;
      }
    }

    svg {
      @media (max-width: 1100px) {
        width: auto;
        height: 22px;
      }
      @include r($phone) {
        height: 19px;
      }
    }
  }

  &__consultation {
    @include r($tablet) {
      display: none;
    }
  }

  &__nav-mobile {
    @include flex-column(30);
    align-items: center;
    margin: 0 auto;
    display: none;
    font-size: 18px;
    opacity: 0;
    height: 1px;
    overflow: hidden;
    transition: all .5s ease-in-out;

    @include r($tablet) {
      display: flex;
    }
    @include r($phone) {
      font-size: 16px;
    }
  }

  &__btn {
    @include r($tablet) {
      font-size: 16px;
    }
  }
}