.header {
  margin: 18.5px 0 16px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__list {
    @include flex-align-center(24);
    margin-left: 48px;
  }

  &__link {
    transition: color .4s, border .4s;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    letter-spacing: 0;

    &:hover {
      color: $purple;
    }

    &:focus {
      color: $purple;
      border-bottom-color: $purple;
    }
  }

  &__phone {
    @include flex-align-center(8);
    color: $purple;
    transition: color .4s, opacity .4s;
    margin-left: auto;
    margin-right: 24px;

    &:hover {
      color: $black;

      svg path {
        fill: $black;
      }
    }

    &:focus {
      opacity: .5;
    }
  }
}