<header class="header" id="start">
  <div class="container">
    <div class="header__inner">
      <img class="logo__img" src="images/icons/logo.svg" alt="Top Hr">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link" href="#clients">Блок</a>
          </li>
          <li>
            <a class="header__link" href="#benefits">Преимущества</a>
          </li>
          <li>
            <a class="header__link" href="#confidence">Доверие</a>
          </li>
          <li>
            <a class="header__link" href="#cases">Кейсы</a>
          </li>
          <li>
            <a class="header__link" href="#clients">Обратная связь</a>
          </li>
        </ul>
      </nav>
      <a class="header__phone" href="tel:+79613113131">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M19.95 21.75C17.8667 21.75 15.8083 21.2957 13.775 20.387C11.7417 19.4783 9.89167 18.191 8.225 16.525C6.55833 14.8583 5.271 13.0083 4.363 10.975C3.455 8.94167 3.00067 6.88333 3 4.8C3 4.5 3.1 4.25 3.3 4.05C3.5 3.85 3.75 3.75 4.05 3.75H8.1C8.33333 3.75 8.54167 3.82933 8.725 3.988C8.90833 4.14667 9.01667 4.334 9.05 4.55L9.7 8.05C9.73333 8.31667 9.725 8.54167 9.675 8.725C9.625 8.90833 9.53333 9.06667 9.4 9.2L6.975 11.65C7.30833 12.2667 7.704 12.8623 8.162 13.437C8.62 14.0117 9.12433 14.566 9.675 15.1C10.1917 15.6167 10.7333 16.096 11.3 16.538C11.8667 16.98 12.4667 17.384 13.1 17.75L15.45 15.4C15.6 15.25 15.796 15.1373 16.038 15.062C16.28 14.9867 16.5173 14.966 16.75 15L20.2 15.7C20.4333 15.7667 20.625 15.8877 20.775 16.063C20.925 16.2383 21 16.434 21 16.65V20.7C21 21 20.9 21.25 20.7 21.45C20.5 21.65 20.25 21.75 19.95 21.75Z"
              fill="#9B6FEA"/>
        </svg>
        +7 (961) 311-31-31
      </a>
      <button class="menu-btn menu-btn--header">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
      <a class="header__btn btn btn--white btn--white-border" href="#consultation">Консультация</a>
    </div>
    <nav class="header__mobile">
      <ul class="header__mobile-list">
        <li>
          <a class="header__link" href="#clients">Блок</a>
        </li>
        <li>
          <a class="header__link" href="#benefits">Преимущества</a>
        </li>
        <li>
          <a class="header__link" href="#confidence">Доверие</a>
        </li>
        <li>
          <a class="header__link" href="#cases">Кейсы</a>
        </li>
        <li>
          <a class="header__link" href="#clients">Обратная связь</a>
        </li>
      </ul>
      <a class="header__mobile-btn btn" href="#consultation">Консультация</a>
    </nav>
  </div>
</header>